{%extends "base_notification.html"%}
{%block body_header%}
Enter notification application
{%endblock%}
{%block body_content%}
{{super()}}
<form id="notification_form" action="{{url_for('notification')}}" method="POST">
            <label for="Room_number">Room Number</label>
            <input type="text" value="room_number" id="room_number"><br>
            <label for="Guest_name">Guest Name</label>
            <input type="text" value="guest_name" id="guest_name"><br>
            <label for="Notification">Notification</label>
            <input type="text" value="Notification" id="Notification"><br>
            <label for="priority">Priority Notification</label>
            <select id="selected" name='selected'>
                {%for notification in notification_priorities.list_of_priorities%}
                    <option value="{{notification.selected}}">{{notification.selected}}</option>
                {%endfor%}
            </select><br>
            <input type="submit" value="SEND YOUR NOTIFICATION">
        </form> 
{%endblock%} 
     
        