<ul class="nav nav-pills"> 
<li class="nav-item"> 
<a class="nav-link {{ 'active' if active_menu=='index' }}" aria-current="page" href="{{ 
url_for('index') }}">Home</a> 
</li> 
<li class="nav-item"> 
<a class="nav-link {{ 'active' if active_menu=='notifications' }}" href="{{ 
url_for('notifications') }}">Notifications</a> 
</li> 
<li class="nav-item"> 
<a class="nav-link {{ 'active' if active_menu=='notification' }}" href="{{ 
url_for('notification') }}">New notification</a> 
</li> 
<li class="nav-item"> 
<a class="nav-link {{ 'active' if active_menu=='about' }}" href="{{ url_for('about') }}" 
tabindex="-1">About this app</a> 
</li> 
<li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Users
            </a>

            <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdown"
            >
                <li>
                    <a
                        class="dropdown-item"
                        href="{{ url_for('users') }}"
                    >
                        Users
                    </a>
                </li>

                <li>
                    <a
                        class="dropdown-item"
                        href="{{ url_for('new_user') }}"
                    >
                        New user
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
                    <a
                        class="nav-link {{ 'active' if active_menu == 'login' }}"
                        href="{{ url_for('login') }}"
                        tabindex="-1"
                    >
                        Login
                    </a>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link {{ 'active' if active_menu == 'logout' }}"
                        href="{{ url_for('logout') }}"
                        tabindex="-1"
                    >
                        Logout {{ session['user'] if 'user' in session }}
                    </a>
            </li>
</ul> 