<!DOCTYPE html>
<html>
<head>
    <title>TWOJA STRONA</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
</head>
<body>
    <form id='user_form' method='POST'>
        <label for='FIRST NAME'>FIRST NAME</label>
        <input type='text' id='FIRSTNAME' name='FIRST NAME' value='ENTER FIRST NAME'><br>
        <label for='LAST NAME'>LAST NAME</label>
        <input type='text' id='LASTNAME' name='LAST NAME' value='ENTER LAST NAME'><br>
        <label for='AGE'>AGE</label>
        <input type='text' id='AGE' name='AGE' value='ENTER AGE'><br>
        <label for='LIVING ADDRESS'>LIVING ADDRESS</label>
        <input type='text' id='ADDRESS' name='ADDRESS' value='ENTER ADDRESS'><br>
        <label for='GENDER'>GENDER
            <select id='SELECT_GENDER'>
            <option id='FEMALE' value='FEMALE'>FEMALE</option>
            <option id='MALE' value='MALE'>MALE</option>
            </select>
        </label>
        <input type='SUBMIT' value='SEND YOUR FORM'>
    </form>
</body>
</html>